.container{
    .user-card{
        position: absolute;
        top:88rpx;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 294rpx;
        height: 90rpx;
        border-top-right-radius: 90rpx;
        border-bottom-right-radius: 90rpx;
        background: #fff;
        image{
            position: relative;
            top:-44rpx;
            left: 59rpx;
            width: 47rpx;
            height: 27rpx;
        }
        .avatar{
            width: 68rpx;
            height: 68rpx;
            border-radius: 50%;
            overflow: hidden;
        }
        .info{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            margin-left: 20rpx;
            .username{
                font-size:28rpx;
            }
            .city{
                font-size:22rpx;
                color: #999;
            }
        }
    }
    .refresh{
        position: absolute;
        width: 54rpx;
        height: 54rpx;
        bottom:126rpx;
        left:28rpx;
    }
    .vip{
        position:absolute;
        width: 54rpx;
        height: 54rpx;
        bottom:126rpx;
        right: 28rpx;
    }
    .package{
        position: absolute;
        width: 54rpx;
        height: 54rpx;
        right: 28rpx;
        bottom:42rpx;
    }
}